/*  font-family: Abel  */
@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

/*  font-family: Anton  */
@font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}

/*  font-family: Right_Grotesk  */

@font-face {
    font-family: Right_Grotesk;
    src: url('../fonts/Right_Grotesk/RightGrotesk-Medium.otf');
}
